name: Docker master branch

on:
  push:
    branches: [ master ]
    tags:
      - 'v*'

  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set default docker tag label
        run: echo "DOCKER_TAG=latest" >> $GITHUB_ENV

      - name: Set docker tag label for git tags
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "DOCKER_TAG=$( github.ref.replace(/\/refs\/tags\//, '') )" >> $GITHUB_ENV

      - name: Print parameters
        run: echo "image_tag=${{ env.DOCKER_TAG }} reference=${{ github.ref }}"

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: andriygedu/spring_boot_and_vue:${{ env.DOCKER_TAG }}
