# This is a basic workflow to help you get started with Actions

name: Maven release prepare and make/push numbered release docker image

# Controls when the action will run. 
on:
  # Triggers workflow only manually
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Java Maven release
        uses: qcastel/github-actions-maven-release@v1.12.16
        env:
          JAVA_HOME: /usr/lib/jvm/java-11-openjdk/
        with:
          skip-perform: true

          # The SSH private key used during the maven release git commit
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Resolve release version
        run: echo "TAG=$( git describe --tags --abbrev=0 HEAD )" >> $GITHUB_ENV

      - name: Switch to release version tag
        run: git checkout ${{ env.TAG }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: andriygedu/spring_boot_and_vue:${{ env.TAG }}
          build-args: |
            mvn_params=-Pnotests
